.container{
    width: 1300px;
    margin: auto;
    outline: solid 2px blue;
    
}
.doctor{
    display: flex;
    height: 50px;
    justify-content: space-between;
}
.banner{
    display: flex;
    height: 200px;
    justify-content: center;
}
.director{
    display: flex;
    flex-wrap: wrap;

    
}
.director .gallery-img{
    display: flex;
    height: 200px;
    width: 25%;
    outline: solid 2px red;
}
.legalpage-flex{
    display: flex;
    height: 100px;
    justify-content: center;
    
    
}